/* 
  dark orange: hsl(31, 91%, 34%) circle
  light orange: hsl(31, 77%, 52%) car

 */

/* Global styles */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 15px;
}

body {
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 1rem;
  line-height: 1.5;
}

h2 {
  color: hsl(0, 0%, 95%);
  padding: 0.5rem 0;
}

.btn {
  background: hsl(0, 0%, 95%);
  border: 2px solid transparent;
  /* border: none; */
  border-radius: 1rem;
  font-size: 0.6rem;
  font-weight: 700;
  padding: 0.6rem 1rem;
  letter-spacing: 2px;
  margin: 1.5rem 0;
  cursor: pointer;
  transition: all 0.2s linear;
  display: inline-block;
  text-transform: uppercase;
}

/* .btn-orange:hover {
  border: 5px solid transparent;
} */

.btn:hover {
  border: 2px solid hsl(0, 0%, 95%);
  background-color: transparent;
  color: hsl(0, 0%, 95%);
}

.container {
  background: hsl(0, 0%, 95%);
  margin: 5rem auto;
  width: 90%;
  padding: 2rem 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 12px 12px 10px rgba(0, 0, 0, 0.2);
}

/* card styles */

.card {
  border-radius: 0.5rem;
  margin: 1.5rem 0;
  padding: 2rem;
  height: 25rem;
  width: 20rem;
}

.orange-card {
  background: hsl(31, 77%, 52%);
}

.cyan-card {
  background: hsl(184, 100%, 22%);
}
.vd-cyan-card {
  background: hsl(179, 100%, 13%);
}

.card-img-holder {
  margin: 0.5rem 0;
}

.card-info {
  margin-top: 1rem;
}

/* Buttons styles */

.btn-orange {
  color: hsl(31, 77%, 52%);
}

.btn-cyan {
  color: hsl(184, 100%, 22%);
}

.btn-vd-cyan {
  color: hsl(179, 100%, 13%);
}

footer {
}

@media screen and (min-width: 768px) {
  .container {
    flex-flow: row wrap;
    justify-content: space-around;
  }

  .card {
    width: 30%;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1170px;
    width: 90vw;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .card {
    width: 15rem;
    /* margin: 0 0.5rem; */
  }
}
